/* Base styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;

  color: #434455;
}
/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
img{
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
}
/* common styles */

 


.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Header */
.header .container {
  display: flex;
  align-items: center;
}

/* Header 2 */
.ourteam-title,
.portfolio-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  margin-bottom: 8px;

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

/* --Головне меню навігації--> */
.header {
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-flex;
}
.logo-dark {
  color: #2e2f42;
  margin-right: 76px;
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-list {
  display: flex;
}

.header-list-item {
  color: inherit;
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
/* .header-link-studio:hover,
.header-link-studio:focus,
.header-link-studio:active {
  color: #404bbf;
} */

/* --Пошта і телефон у шапці--> */
.address {
  font-style: normal;
}
.address-list {
  display: flex;
}
.address-item-link {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}
/* section hero */

.hero-container {
  display: flex;
  padding-top: 188px;
  padding-right: 331px;
  padding-bottom: 188px;
  padding-left: 331px;
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  padding: 16px 32px;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* section advantages */
.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.advantages-item {
  width: 264px;
}
.advantages-caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.advantages-desc {
}

/* section our team */

.ourteam {
  background-color: #f4f4fd;
}

.ourteam-list{
  display: flex;
 gap: 24px;
}
.ourteam-item {
  background-color: #ffffff;
}

.ourteam-name{
  margin-top: 32px;
}
/* section portfolio */
.portfolio-item {
  background-color: #fff;
}
/* section footer */

.footer {
  background-color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
